[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=paletteTin
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Palette Tin
Comment=Palette and mix.